#navTop {
	height:33px;
	float:left;
	background:url(../images/menu_back.png) repeat-x;
	margin:0px 0 0 0;
	padding:0px 0 0 0;
}

#navTop li {
	display:inline;
	float:left;
	height:27px;
	margin:0 5px 0 0;
	position:relative;
}

#navTop li:hover, #navTop li.active {
	background:url(../images/menuhover_left.png) no-repeat;
}

#navTop li a, #navTop li a:link, #navTop li a:visited {
	display:inline;
	float:left;
	height:21px;
	padding:6px 18px 0 18px;
	font-size:1.2em;
	font-weight:bold;
	color:#08405c;
	font-family:Arial, verdana, serif;
	text-transform:uppercase;
}

#navTop ul {
        margin:0;
        padding:0;
        list-style:none;
}

#navTop ul li {
        display:inline;
		float:left;
		height:27px;
		margin:0;
		position:relative;
}

#navTop ul li a {
        display:inline;
		float:left;
		height:21px;
		padding:6px 18px 0 18px;
		font-size:1.2em;
		font-weight:bold;
		color:#08405c;
		font-family:Arial, verdana, serif;
		text-transform:uppercase;	
}

#navTop li ul {
        background:#E2F9FF;
        border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        left: -999em;
        margin: 25px 0 0;
        position: absolute;
        z-index: 9999;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
        -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
        border: 1px solid rgba(0, 0, 0, 0.5);
}

#navTop li ul a {
        background: none;
        border: 0 none;
        margin-right: 0;
        width: 174px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
}

#navTop ul li a:hover,
#navTop ul li:hover > a {
        background:url(../images/menuhover_right.png) no-repeat 100% 0;
		text-decoration:none;
}

#navTop li li:hover, #navTop li li.active {
	background:none;
}

#navTop li ul a:hover,
#navTop ul li li:hover > a  {
    	color: #2c2c2c;
        background: #5C9ACD;
        background: -webkit-gradient( linear, left bottom, left top, color-stop(0.17, rgb(61,111,177)), color-stop(0.51, rgb(80,136,199)), color-stop(1, rgb(92,154,205)) );
        background: -moz-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
        background: -o-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
        border-bottom: 1px solid rgba(0,0,0,0.6);
        border-top: 1px solid #7BAED9;
        text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}


#navTop li:hover ul {
        left: auto;
}

#navTop li li ul {
        margin: 5px 0 0 210px;
        -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        visibility:hidden;
}

#navTop li li:hover ul {
        visibility:visible;
}

#navTop ul ul li:last-child > a {
        -moz-border-radius:0 0 10px 10px;
        -webkit-border-radius:0 0 10px 10px;
        border-radius:0 0 10px 10px;
}

#navTop ul ul ul li:first-child > a {
        -moz-border-radius:0 10px 0 0;
        -webkit-border-radius:0 10px 0 0;
        border-radius:0 10px 0 0;
}